@import 'tailwindcss';

@theme {
  /* Colors */
  --color-background: #f5f5f5;
  --color-background-secondary: #e0e0e0;
  --color-foreground: #222222;

  /* Fonts */
  --font-family-sans: var(--font-inter);
  --font-family-serif: var(--font-garamond);
}

.dark {
  /* Colors */
  --color-background: #222222;
  --color-background-secondary: #393939;
  --color-foreground: #f5f5f5;
}

@layer base {
  body {
    @apply bg-background text-foreground max-w-full overflow-x-hidden;
  }

  select {
    all: unset;
  }
}
