@import 'tailwindcss';

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-background: #f5f5f5l;
  --color-secondaryBackground: #ffffff;
  --color-foreground: #222222;
  --color-backgroundDark: #222222;
  --color-secondaryBackgroundDark: #282828;
  --color-foregroundDark: #f5f5f5;
  --color-accent: #ff4f00;
}
