@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #eee;
  --color-foreground: #111;

  --text-json: clamp(0.875rem, 0.5rem + 1.5vw, 1.5rem);
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-background: #191919;
    --color-foreground: #eee;
  }
}

@layer base {
  pre a {
    @apply opacity-70 transition-all duration-300 hover:opacity-100;
  }

  @media (max-width: 80rem) {
    .overlap-col {
      flex-direction: column !important;
      gap: 1.5rem !important;
    }
    .overlap-col > pre {
      order: 2 !important; /* pre below image */
    }
  }

  .blog-post hr,
  .blog-post hr + h2 {
    display: none;
  }
}
