@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-background: #f4f1ea;
  --color-foreground: #141414;
  --color-accent: #ff4f1f;
  --ease-in-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

:root {
  @media (prefers-color-scheme: dark) {
    --color-background: #111110;
    --color-foreground: #ece8df;
  }
}

@layer base {
  ::selection {
    @apply bg-accent text-background;
  }

  .blog-post hr,
  .blog-post hr + h2 {
    display: none;
  }
}
