@forward 'home';
@forward 'about';
@forward 'projects';

body {
    background-color: var(--page-background);
    color: var(--page-foreground);
}

.app {
    display: flex;
    flex-direction: column;
}

@media (max-width: 720px) {
    .dimmed {
        position: relative;
        z-index: -1;
        animation: scaleOut 0.25s ease-in-out;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    
        @keyframes fadeIn {
            from {opacity: 0;}
            to {opacity: 1;}
        }
    
        @keyframes scaleOut {
            from {transform: scale(100%);}
            to {transform: scale(95%);}
        }
    
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--header-background);
            animation: fadeIn 0.25s ease-in-out;
        }
    }
}